{% extends 'sgpa/base.html' %}
{% block content %}
<div class="w-screen h-screen flex flex-col justify-center items-center bg-gray-900 ">
        <a href="{% url 'index' %}" class="absolute right-5 bottom-5 px-2 py-1 md:px-4 md:py-2 bg-blue-500 rounded  text-black uppercase text-xs md:text-sm">go back</a>

      <div class=" text-blue-200 text-2xl font-bold ">
        Select Your Semester
      </div>
      <div class="w-3/4 my-8 md:w-2/4  grid grid-cols-2 gap-3">
        <a href="{% url 'sgpaselect' 11 %}" class="inline-block bg-blue-500 px-3 py-2 text-center rounded text-white text-sm font-bold w-full">SEM 1 & 2 (Physics)</a>
        <a href="{% url 'sgpaselect' 12 %}" class="inline-block bg-blue-500 px-3 py-2 text-center rounded text-white text-sm font-bold w-full">SEM 1 & 2 (Chemestry)</a>
        <a href="{% url 'sgpaselect' 3 %}" class="inline-block bg-blue-500 px-3 py-2 text-center rounded text-white text-sm font-bold w-full">SEM 3</a>
        <a href="{% url 'sgpaselect' 4 %}" class="inline-block bg-blue-500 px-3 py-2 text-center rounded text-white text-sm font-bold w-full">SEM 4</a>
        <a href="{% url 'sgpaselect' 5 %}" class="inline-block bg-blue-500 px-3 py-2 text-center rounded text-white text-sm font-bold w-full">SEM 5</a>
        <a href="{% url 'sgpaselect' 6 %}" class="inline-block bg-blue-500 px-3 py-2 text-center rounded text-white text-sm font-bold w-full">SEM 6</a>
        <a href="{% url 'csec' 'csec' %}" class="inline-block bg-blue-500 px-3 py-2 text-center rounded text-white text-sm font-bold w-full">SEM 7</a>
        <a href="{% url 'sgpaselect' 8 %}" class="inline-block bg-blue-500 px-3 py-2 text-center rounded text-white text-sm font-bold w-full">SEM 8</a>
      </div>
    </div>
{% endblock content %}