{% extends 'sgpa/base.html' %}
{% block content %}
<div class="w-screen h-screen bg-gray-900 flex flex-col justify-center items-center">
    <a href="{% url 'sgpa' %}" class="absolute right-5 bottom-5 px-2 py-1 md:px-4 md:py-2 bg-blue-500 rounded  text-black uppercase text-xs md:text-sm">go back</a>    
        <form class='w-3/4 md:w-2/4' method="POST">
        {% csrf_token %}
            {% for sub in subs  %}
            <div class="my-4 w-full ">
                <label class="block text-blue-200 text-sm">{{ sub }}:</label>
                <input type="text" placeholder = "{{sub}} " class=" text-sm w-full px-4 py-2 rounded outline-none focus:ring-2 focus:ring-blue-400" name="marks"   required>
            </div>
            {% endfor %}
            <input type="submit" class=" px-3 py-2 text-white bg-blue-500 rounded my-3 font-bold text-sm " value="Calculate">
        </form>
</div>

{% endblock content %}