<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>SGPA/CGPA calculator</title>
</head>
<body>
    <div class="w-screen h-screen bg-gray-900 flex justify-center items-center">
        <a href="{% url 'sgpa' %}" class=" font-bold text-xl text-white bg-blue-400 py-1 px-5 rounded mx-4 ">SGPA</a>
        <a href="{% url 'cgpa' %}" class=" font-bold text-xl text-white bg-blue-400 py-1 px-5 rounded mx-4 ">CGPA</a>
    </div>
</body>
</html>